moneta-modified/build/
moneta-modified/workdir/
moneta-modified/configs/syzkaller/generated/

moneta-modified/go/bin/
moneta-modified/go/pkg/

moneta-modified/guest/linux

.env
.vscode
.direnv/

moneta-modified/open-gpu-kernel-modules/

moneta-modified/scripts/NVIDIA-Linux-x86_64-*.run

moneta-modified/trace_results/
